@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Montserrat', sans-serif;
}

h1{
   font-size: 5rem;
   font-weight: 900;
}

h2{
   font-size: 3rem;
   font-weight: 600;
   text-align: center;
}

h3{
   font-size: 1.4rem;
   font-weight: 800;
}

h4{
   font-size: 1.1rem;
   font-weight: 600;
}

h5{
   font-size: 1rem;
   font-weight: 400;
   color: #1d1d1d;
}

h6{
   color: #D8D8D8;
}


.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 460px;
    position: relative;
    margin: 8% auto;
    background: transparent;
    padding: 5px;
}

#span1{
    color:#4CBB17;
}

.button-box{
    width: 250px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    border-radius: 30px;
    transition: 0.5s;
}

.social-icons{
    margin: 300px auto;
    text-align: center;
}

.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group{
    top: 110px;
    position: absolute;
    width: 280px;
    transition: .5s;
    left: 50px;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: 	#C04000;
    color: black;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.submit-btn:hover{
    background-color: #4CBB17;
    color: white ;
 }

.check-box{
    margin: 30px 10px 30px 0;
}

#span2{
    color: #777;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}